@model IndexPageModel
@{
    ViewBag.Title = "Index";

}


        <div class="list-container">
              @{
        DisplayHelper display = new DisplayHelper(this, "AssetMaintenanceRequest", "TransactionID");

        var gridCtrl = Html.Kendo().Grid<dynamic>()
                .Name("DetailsGrid");

        display.AddGridActionColumns(gridCtrl, Url, "AssetMaintenanceRequest", RightNames.AssetMaintenanceRequest);
            display.ConfigureGrid(gridCtrl);
        display.AddGridHeaders(gridCtrl, Url, this.Html, RightNames.AssetMaintenanceRequest);

            gridCtrl.Render();
            //display.AddPopUpWindow(this.Html, "Division");

        }
         
        </div>
   



<script>
$(function () {
        setPageHeading("Asset Maintenance Request");
});
</script>
