@model IndexPageModel

@{
    ViewBag.Title = "Index";
}


<div class="list-container">
    @{
        DisplayHelper display = new DisplayHelper(this, "ReportTemplate", "ReportTemplateID");

        var gridCtrl = Html.Kendo().Grid<dynamic>()
        .Name("DetailsGrid");

        display.AddGridActionColumns(gridCtrl, Url, "ReportTemplate", RightNames.ReportTemplate);
        display.ConfigureGrid(gridCtrl);
        display.AddGridHeaders(gridCtrl, Url, this.Html, RightNames.ReportTemplate);

        gridCtrl.Render();
        //display.AddPopUpWindow(this.Html, "Location");

    }
    <div class="clearfix"></div>
</div>

<script>
    $(function () {
        setPageHeading("ReportTemplate List");


    });
</script>




<script>
  
    function getAdditionalExportParameters(controllerName) {
        return null;
    }
</script>