@using ACS.AMS.DAL.DBModel
@using ACS.AMS.DAL

@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using System.IO;

    <form>
        <script>
    var check = confirm('Record saved successfully please login again to apply your changes. Are you sure do you want to logout?');
   if (check == true) {
       window.location.href = '/Login/Login';
   } else {
         loadDefaultPage('@Url.Action("Edit","Configuration")');
   }
        </script>
    </form>