@using ACS.AMS.DAL.DBModel
@using ACS.AMS.DAL

@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using System.IO;

    <form>
        <script>
        var check = alert('Password saved successfully.It Redirect to Login.');
  
         window.location.href = '/Login/Login';
  
        </script>
    </form>