/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}*/

.body {
    font-family: Red Hat Text;
    font-size: 14px;

    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
}
.layout-Main-Header {
    width: 100%;
    height: 70px;
    /* padding-top: 10px !important; */
    margin-right: 15px;
    margin-left: 15px;
    background-color: #00c1d2 !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid;
}
.layout-Main-Header-container {
    position: relative;
    height: 60px;
    top: 10px;
    left: 0px;
    right: 0;
    z-index: 997;
    padding: 8px 25px;
}
.layout-Main-Header-container-topbar-logo {
    color: #ffff;
    font-size: 18px;
}

.layout-Main-Header-container-topbar-menu {
    float: right;
    /* padding: 0; */
    /* margin: 0; */
    list-style-type: none;
    margin-top: 15px;
}
.layout-Main-Header-container-topbar-menu > li {
        float: right;
        position: relative;
        margin-left: 14px;
    }

.layout-Main-Header-KendoMenuHeader {
    /* background-color: #121111dd; */
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -3px;
    font-size: 18px;
    height: 35px;
    color: white;
    background-color: #0e5790;
    height: 35px;
}

.content-page-header {
    background-color: #e1eced;
    color: #424242;
    font-size: var(--font-size-4xl);
    height: 40px;
    padding-top: 5px !important;
    padding-left: 15px;
    /* margin-right: 0px; */
    margin-left: 0.5px;
}

#pageMainHeadingPortion {
    /* font-weight: bold; */
    font-size: 16px;
    margin-left: 10px;
    padding-top: 5px;
    color: black;

}
.page-title {
background-color: #ffd600;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -20px;
    height: 30px;
    width:285px;
}
.nav-link {
    display: block;
    padding: 0rem 1rem;
    color: #ffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.cancelButton {
    background-color: #DB1E32;
    color: #fff !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.saveButton {
    background-color: #0e5790;
    color: #fff !important;
    font-size: 15px !important;
    font-weight: bold !important;
}
.draftButton {
    background-color: #0e5790;
    color: #fff !important;
    font-size: 15px;
    font-weight: bold;
}
.searchButton {
    background-color: #DB1E32;
    color: #fff !important;
    font-size: 15px;
    font-weight: bold;
}
.add-action-btns button {
    position: relative;
    color: #fff;
    border: none;
    width: 90px;
    padding: 5px 0;
    border-radius: 6px;
}
.layout-WoringAreaContainer {
    background-color: #f2f2f2;
}

.sectiondashboard {
    min-height: 650px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: #e1eced;
    width: 100%;
}
#saveButton {
    border-color: #0e5790;
    color: #fff;
    background-color: #0e5790;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
    font-size: 15px !important;
    font-weight: bold !important;
}
#cancelButton {
    border-color: #666;
    color: #fff;
    background-color: #DB1E32;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
}
#draftButton {
    border-color: #666;
    color: #fff;
    background-color: #DB1E32;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
    font-size: 15px;
    font-weight: bold;
}
#searchButton {
    border-color: #0E5790;
    color: #fff;
    background-color: #0E5790;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
    font-size: 15px;
    font-weight: bold;
}

    .list-container {
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(175 165 165);
    padding: 15px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

    .list-container table {
        font-family: inherit;
        width: 100%;
    }
            .list-container table thead th {
                font-size: 14px;
                color: black;
                font-weight: 500;
                padding: 8px 10px;
                position: relative;
            }

                .list-container table thead th a img {
                    width: 10px;
                    position: absolute;
                    right: 0;
                    top: 18px;
                }

        .list-container table tr td {
            font-size: 14px;
            font-weight: 500;
            padding: 8px 10px;
        }

.icon-user {
    width: 32px;
}

.list-container table tr td a img, .list-container table tr td button img {
    width: 24px;
}

/*.list-container table tr td button {
    border: none;
    background: none;
}*/

.list-container .k-grid table tbody tr:nth-child(odd) {
    background: #e5e5e5;
    
}

.text-right {
    text-align: right !important;
}

.cat_div1 {
    width: 420px;
    float: left;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 223, 223, 0.6);
    padding: 10px;
    border: solid 1px #E4E4E4;
}
.buttonLocation {
    text-align: right;
    margin: 10px 0px;
}
.listBoxClass {
    height: 200px !important;
    width: 100%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 223, 223, 0.6);
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 4px;
}
.btn-arrow {
    margin: 5px 0px;
}

.treeview_div {
    width: 420px;
    float: left;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 223, 223, 0.6);
    padding: 10px;
    border: solid 1px #E4E4E4;
}
.nav-second-level {
    margin-left: 0px;
    float: left;
    height: 360px;
    margin-bottom: 25px;
    /* width: 280px; */
    width: 400px;
    overflow: auto;
}
.addProductClass {
    text-align: right;
    padding-top: 5px;
}
.searchCategory {
    position: absolute;
    right: 6px;
    top: 9px;
    color: rgba(204, 204, 204, 0.56);
}

.gridClass {
    width: 100%;
    overflow: auto;
}

#loadingmaskApproval {
    position: absolute;
    z-index: 9000;
    background-color: rgba(255,255,255,0.5);
    display: none;
    top: 0;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
}

.dash_tab {
   /* box-shadow: 0 2px 0 rgba(0,0,0,0.05);*/
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
    /*background: #fff;*/
    padding: 15px;
}
.dashboard_chartdiv {
    border-radius: 20px;
    border: 1px solid #96b4ff;
    margin-top: 30px;
}
.dashboard_countdiv {
    display: flex;
    border: 1px solid var(--color-lavender-100);
    width: 345px;
    height: 86px;
    border-radius: 20px;
    border: 1.5px solid;
    border-color: #d7cba8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dashboard_countimg {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100px;
}
.dashboard_countText {
    color: #fff;
   /* padding-top: 20px;*/
    /* font-weight: bold; */
    font-weight: 500;
    font-size: medium;
    padding-left: 10px;
}
.dashboard_countValue {
    color: #fff;
    padding-top: 35px;
    /* font-weight: bold; */
    font-weight: 500;
    font-size: medium;
    padding-left: 10px;
}
    .dash_tab table tr td {
        vertical-align: middle;
    }

.dashtab_img {
    color: #FFF;
    display: table-cell;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
}

.abn-logo-with-bg-removebg-prev-icon1 {
    /* left: 20px; */
    width: 220px;
}

.abn-logo-with-bg-removebg-prev-parent, .group-item {
    position: absolute;
    top: -18px;
    left: 22px;
}
.ellipse-parent, .group-inner {
    position: absolute;
    top: 9.8px;
    left: 1264px;
    width: 126px;
    height: 55.4px;
    cursor: pointer;
}
.user {
    position: absolute;
    top: 15px;
    left: 80px;
    font-weight: 500;
    font-size: medium;
    display: inline-block;
    width: 46px;
    height: 32.6px;
}
.group-item {
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.bell-icon {
    top: 26.6px;
    left: 1196px;
    width: 24px;
    height: 23.7px;
}

#StampImage {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
}

.CreateButton {
    background-color: #0B3D81;
    
}
.EditButton {
    background-color: #CB7718;
   
}
.ViewButton {
    background-color: #297409;
   
}
.DeleteButton {
    background-color: #C30909;
   
}

.CommonButton {
    color: #fff !important;
    font-size: 15px !important;
    font-weight: bold !important;
    border: none;
    padding: 5px;
    border-radius: 6px;
    font-family: inherit;
}

.LineItemPartition {
    border: 1px solid;
    border-color: gray;
    border-radius: 10px;
}

.selected-item {
    background-color: #E0E0E0; /* Customize the background color with whatever color you desire */
    border-radius: 10px;
}


.chairs-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: start;
    padding: 77px 80px 45px;
}

.chairs-layout {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 0.5px solid #000;
}

.chairs-header {
    background-color: #C2EEFF;
    color: #000;
    white-space: nowrap;
    text-align: center;
    padding: 26px 70px;
    font: 500 15px Red Hat Text, sans-serif;
    border: 1px solid #000;
}

.chairs-grid {
    gap: 0px;
    display: flex;
}

.chair-card {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25% - 20px); /* Accounts for gap spacing to align equally */
    box-sizing: border-box; /* Ensures padding/border doesn’t affect width */
}

/* .chair-content {
    display: flex;
    flex-grow: 1;
    padding-bottom: 31px;
    flex-direction: column;
    align-items: center;
    color: #000;
    font: 15px Red Hat Text, sans-serif;
    border: 1px solid #000;
  } */
/* .chair-image {
    aspect-ratio: 1.59;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: stretch;
  } */


.chair-content {
    display: flex;
    flex-grow: 1;
    padding: 20px 10px 31px; /* Adjust padding for consistent spacing */
    flex-direction: column;
    align-items: center;
    color: #000;
    font: 15px 'Red Hat Text', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.chair-image {
    aspect-ratio: 1.59;
    object-fit: cover; /* Ensures images cover their container */
    width: 100%;
    align-self: stretch;
    border-bottom: 1px solid #000; /* Optional: visually separate images from content */
}

.chair-title {
    font-weight: 600;
    margin-top: 11px;
}

.chair-dimensions {
    font-weight: 400;
    margin-top: 11px;
}





/* Mobile view */
@media (max-width: 991px) {
    .chairs-section {
        padding: 0 20px;
    }

    .chairs-layout {
        max-width: 100%;
    }

    .chairs-header {
        max-width: 100%;
        white-space: initial;
        padding: 0 20px;
    }

    .chairs-grid {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .chair-card {
        width: 100%;
        margin-left: 0;
    }
}
