<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!--<add name="SqlConnection" connectionString="data source=SVDCSMSSQL1601\ADEKPRDSQL16,61003;initial catalog=AMSDB;persist security info=True;user id=stAMSuser1;password=ST_mis@esr#2010;timeout=600000" providerName="System.Data.SqlClient"/>
		<add name="SqlConnection" connectionString="data source=SVDCPMSSQL1602\\ADEKPRODSQL16,51714;initial catalog=AMSDB;persist security info=True;user id=AMSuser1;password=A_mis@esr#2010;timeout=600000" providerName="System.Data.SqlClient"/>-->
		<add name="SqlConnection" connectionString="data source=DESKTOP-6O1315P\EX2019;initial catalog=AMS_Test_Server;persist security info=True;user id=sa;password=VvsSql12#;timeout=600000" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>

		<!-- IN MINUTES -->
		<!--<add key="smtpURL" value="smtp.adek.int" />-->
		<!--<add key="smtpPort" value="25" />-->
		<!--<add key="smtpUsername" value="test@clientapp.com" />-->

		<!--<add key="AgentIntervel" value="5"/>-->
		<!--<add key="ServiceSyncIntervel" value="5"/> -->
		

		<add key="smtpURL" value="smtp.gmail.com" />
		<add key="smtpPort" value="587" />
		<add key="smtpUsername" value="saranya@abnconsultancyservice.com" />
		<add key="smtpPwd" value="saranya@1987" />
		<add key="smtpSSL" value="true" />
		<add key="AgentIntervel" value="5"/>
		<add key="ServiceSyncIntervel" value="5"/>


	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>